<div class="flex">
  <div class="wrapper">
    <div class="app-home">
      <button pButton type="button" label="Home" class="p-button-link" [routerLink]="'/home'"></button>
    </div>
    <ng-container *ngIf="currentRoute.includes('/ars-manager')">
      <app-sub-menu class="sub-menu"></app-sub-menu>
    </ng-container>
    <div class="app-header__profile">
      <button *ngIf="notSignIn" class="btn-list" mat-button [matMenuTriggerFor]="userAcc">
        <fa-icon [icon]="faUser"></fa-icon>
      </button>
      <button *ngIf="!notSignIn" class="btn-list" mat-button [matMenuTriggerFor]="userAcc">
        <fa-icon [icon]="faUser"></fa-icon>
      </button>
      <mat-menu #userAcc="matMenu">
        <button mat-menu-item (click)="openDialog()">{{profile.sign.in}}</button>
        <button *ngIf="notSignIn" mat-menu-item (click)="openDialog()">{{profile.sign.up}}</button>
        <button *ngIf="!notSignIn" class="btn-list--item" mat-menu-item>{{profile.account.label}}</button>
        <button *ngIf="!notSignIn" class="btn-list--item" mat-menu-item
                [routerLink]="profile.bookings.url">{{profile.bookings.label}}</button>
        <button *ngIf="profile.ArsManager.permission===role" class="btn-list--item" mat-menu-item
                [routerLink]="profile.ArsManager.url">{{profile.ArsManager.label}}</button>
        <button *ngIf="!notSignIn" class="btn-list--item" mat-menu-item (click)="logout()">{{profile.logout}}</button>
      </mat-menu>
    </div>
  </div>
</div>
