<ng-container *ngIf="list">
  <div class='sub-container'>
    <div [className]="'header'">
      <ul>
        <li
          *ngFor='let value of statuses'
          [ngClass]='{ active: currentStatus === value }'
          (click)='filterByStatus(value)'
        >
          {{ value }}
        </li>

      </ul>
      <div class='date-filter'>
        <mat-form-field appearance="fill">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Start date">
            <input matEndDate placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
    </div>
    <ng-container *ngIf='list'>
      <div [className]="'list'">
        <ng-container *ngIf='list.length == 0'>
          <p>no airline found</p>
        </ng-container>
        <div *ngFor='let item of list'>
          <p class='text-regular text-dark'>
            {{ item?.name }}
            <span class='text-regular text-light'> Invoice</span>
          </p>
          <div class='items'>
            <p class='text-regular text-dark'>
              {{ item?.airlineCode }}
              <span class='text-regular text-light'>Due date</span>
            </p>
            <p class='text-regular text-dark'>
              ${{ item.description | number }}
              <span class='text-regular text-light'>Amount</span>
            </p>
            <p (click)='filterByStatus(item.status)'>
                        <span
                          [ngClass]="
                            item.status == 'Pending'
                              ? 'pending'
                              : item.status == 'Paid'
                              ? 'paid'
                              : 'cancelled'
                          "
                        ></span>
              {{ item.status }}
            </p>
            <p>
              <a [routerLink]="['details/', item?._id]"
              ><i class='fas fa-ellipsis-h'></i
              ></a>
            </p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
