<ng-container *ngIf="list">
  <div class='sub-container'>
    <div [className]="'header'">
      <ul>
        <li
          *ngFor='let value of filters'
          [ngClass]='{ active: currentStatus === value }'
          (click)='filterByStatus(value)'
        >
          {{ value }}
        </li>

      </ul>
      <div class='date-filter'>
        <mat-form-field appearance="fill">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Start date">
            <input matEndDate placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
    </div>
    <ng-container *ngIf='list'>
      <div [className]="'list'">
        <table>
          <tr class="list-header">
            <th class="list-header--title" *ngFor="let header of headers">{{header}}</th>
            <th class="list-header--title">details</th>
          </tr>
          <tr *ngFor='let item of list' class="list-items">
            <td *ngIf="item.firstName">{{ item?.firstName + ' ' + item?.lastName }}</td>
            <td *ngIf="item.company || item.airlineId || item.flightId">
              {{ item?.company }}
              {{ item?.airlineId }}
              {{ item?.flightId }}
            </td>
            <td *ngIf="item.model"> {{ item?.model }} model</td>
            <td *ngIf="item.flightNumber">
              {{ item?.flightNumber }}
              {{ item?.departureCity + ' - ' + item?.arrivalCity }}
            </td>
            <td *ngIf="item.airlineCode">
              {{ item?.airlineCode }}
            </td>
            <td *ngIf="item.userId">
              {{ item?.userId}}
            </td>
            <td *ngIf="item.email">
              {{ item?.email}}
            </td>
            <td *ngIf="item.price">
              {{ item?.price}}
            </td>
            <td *ngIf="item.flightNumber">
              {{ item?.departureTime | date: 'dd/MM/yyyy' }} - {{item?.arrivalTime | date: 'dd/MM/yyyy'}}
            </td>
            <td class="details">
              <fa-icon [icon]="faDetails"></fa-icon>
            </td>
          </tr>
        </table>
        <ng-container *ngIf='list.length == 0'>
          <p>No items to display</p>
        </ng-container>
      </div>
    </ng-container>
  </div>
</ng-container>
