<ng-container *ngIf="item">
  <div class="card" (click)="onClick.emit()">
    <div class="flight" *ngIf="item.arrivalCity">
      <div class="arrivalCity">
        <h1 class="title" *ngIf="item.arrivalCity">{{item.arrivalCity}} </h1>
        <h2 class="sub-title" *ngIf="item.arrivalTime">{{item.arrivalTime}}</h2>
      </div>
      <fa-icon [icon]="faJetFighter"></fa-icon>
      <div class="departureCity">
        <h1 class="title" *ngIf="item.departureCity">{{item.departureCity}} </h1>
        <h2 class="sub-title" *ngIf="item.departureTime">{{item.departureTime}}</h2>
      </div>
    </div>
  </div>
</ng-container>
