$bg-color: #f9f9f9;
$base-color: #1e9bf0;
$btn-primary: #4752C4;
$btn-primary-hover: #3D4FC4;
$btn-menu-hover: #e7e7e8;
$btn-menu: #F9325B;
$btn-menu-blue: #3665f3;
$desc-menu-light: #677681;
$btn-menu-text: #fff;
$btn-light: #06A4E4;
$btn-disabled: #C4C4C4;
$border-color: rgba(44, 38, 71, 0.4);

$primary: #4d7cfe;
$primary-dark: #252631;
$secondary-dark-one: #778ca2;
$secondary-dark-two: #98a9bc;
$secondary-one: #ffab2b;
$secondary-two: #70bb45;
$secondary-three: #fe4d97;
$secondary-four: #2ce5f6;
$outline: #e8ecef;
$bg-one: #f2f4f6;
$bg-two: #f8fafb;

