$bg-color: #f9f9f9;
$base-color: #1e9bf0;
$btn-primary: #4752C4;
$btn-primary-hover: #3D4FC4;
$btn-menu-hover: #e7e7e8;
$btn-menu: #4C4F53;
$btn-menu-text: #fff;
$btn-light: #06A4E4;
$btn-disabled: #C4C4C4;
$border-color: rgba(44, 38, 71, 0.4);
