<div class="grid">
  <div class="app-tickets">
    <form class="app-airline__form" [formGroup]="ticketForm">
      <mat-form-field class="app-login__form-field">
        <mat-label [ngClass]="ticketForm.get('flightId')?.value!==''? 'not-empty' :''">Flight</mat-label>
        <input matInput type="text" name="flightId" formControlName="flightId">
      </mat-form-field>
      <mat-form-field class="app-airline__form-field">
        <mat-label [ngClass]="ticketForm.get('userId')?.value!==''? 'not-empty' :''">User</mat-label>
        <input matInput
               type="text" name="userId" formControlName="userId">
      </mat-form-field>
      <mat-form-field class="app-airline__form-field">
        <mat-label [ngClass]="ticketForm.get('price')?.value!==''? 'not-empty' :''">Price
        </mat-label>
        <input matInput
               type="text" name="price" formControlName="price">
      </mat-form-field>
    </form>
    <button mat-raised-button class="app-airline__button" color="primary" (click)="addTicket()">Add</button>
  </div>
  <ng-container *ngFor="let ticket of tickets$ | async">
    <app-admin-list class="admin-list" [item]="ticket" [filters]="status" [headers]="headers"></app-admin-list>
  </ng-container>
</div>
