@use "../../shared/styles/palette" as var_1;

.app-main {
  background: url("../../../assets/bg.jpg") no-repeat center/cover;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;


  .app-login {
    background: rgba(255, 255, 255, 0.9);
    //background: rgba(#1e9bf0, 0.2);
    box-shadow: 0 8px 32px 0 rgba(44, 38, 71, 0.85);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(205, 233, 244, 0.18);
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 1fr 2fr 1fr 0.5fr;
    align-items: center;
    width: 35%;
    height: 100vh;

    &__header {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0px 20px;
      font-size: 24px;
      font-weight: bold;
      color: #2C2F33;
      text-align: center;
    }

    .app-main__logo {
      grid-column: 1/2;
      justify-self: center;
    }

    .app-main__button-primary {
      grid-column: 1/2;
      width: 430px;
      height: 40px;
      background-color: rgba(67, 60, 95, 0.93);
      color: #FFF;

      &:hover {
        opacity: 0.95;
      }
    }

    .app-main__button-disabled {
      grid-column: 1/2;
      width: 430px;
      height: 40px;
      background-color: var_1.$btn-disabled;
      color: #FFF;
    }

    .app-main__register {
      color: #5C5F66;
      grid-column: 1/2;
      grid-row: 5/6;

      a {
        color: var_1.$btn-light;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .app-login__form {
      display: flex;
      flex-direction: column;

      &--error {
        color: #DC1E29;
        font-size: 1rem;

        &-email {
          margin-top: 10px;
          display: block;
          font-size: 0.75rem;

          fa-icon {
            font-size: 1rem;
          }
        }
      }

      &-field {
        position: relative;

        .not-empty {
          font-size: 18px;
          padding: 20px 25px;
          max-width: 150px;
          text-align: center;
          background-color: #433C5F;
          color: #fff;
          border-radius: 4px;
        }

        a {
          position: absolute;
          right: 70px;
          top: 20px;
          cursor: pointer;
          text-transform: uppercase;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      ::ng-deep .mat-form-field {

        .mat-form-field-label {
          margin: 0.48rem 1rem;
          padding-top: 0.2rem;
        }

        &.mat-focused .mat-form-field-label {
          font-size: 18px;
          padding: 3px 15px;
          max-width: 150px;
          text-align: center;
          background-color: #433C5F;
          color: #fff;
          border-radius: 4px;
        }

        .mat-form-field-underline {
          display: none;
        }

        .mat-input-element {
          border: 1px solid var_1.$border-color;
          border-radius: 5px;
          height: 40px;
          max-width: 400px;
          padding: 2px 15px;
          font-size: 16px;
        }
      }
    }
  }
}
