<div class="flex" [formGroup]="bookingObj">
  <ng-container *ngIf="bookingObj.controls">
    <div formArrayName="firstName">
      <ng-container *ngFor="let firstNameArrayControl of firstName['controls']; index as i ">
        <h5>First Name</h5>
        <input type="text" pInputText [formControlName]="i"/>
      </ng-container>
    </div>
    <div formArrayName="lastName">
      <ng-container *ngFor="let lastNameArrayControl of lastName['controls']; index as i ">
        <h5>Last Name</h5>
        <input type="text" pInputText [formControlName]="i"/>
      </ng-container>
    </div>
    <div formArrayName="class">
      <ng-container *ngFor="let classArrayControl of class['controls']; index as i ">
        <h5>Flight Class</h5>
        <p-dropdown [options]="chooseTicketClass" [formControlName]="i" placeholder="Select a Class"
                    optionLabel="viewValue"
                    [showClear]="true"></p-dropdown>
      </ng-container>
    </div>
  </ng-container>

</div>
<button pButton pRipple type="button" label="Book Flight" (click)="bookFlight()"></button>
