<div class="grid" [formGroup]="bookingObj">
  <ng-container *ngIf="bookingObj.controls">
    <p class="firstHead">First Name</p>
    <p class="lastHead">Last Name</p>
    <p class="flightClassHead">Flight Class</p>
    <div class="first" formArrayName="firstName">
      <ng-container *ngFor="let firstNameArrayControl of firstName['controls']; index as i ">
        <input type="text" pInputText [formControlName]="i"/>
      </ng-container>
    </div>
    <div class="last" formArrayName="lastName">
      <ng-container *ngFor="let lastNameArrayControl of lastName['controls']; index as i ">
        <input type="text" pInputText [formControlName]="i"/>
      </ng-container>
    </div>
    <div class="flightClass" formArrayName="class">
      <ng-container *ngFor="let classArrayControl of class['controls']; index as i ">
        <p-dropdown [options]="chooseTicketClass" [formControlName]="i" placeholder="Select a Class"
                    optionLabel="viewValue"
                    [showClear]="true"></p-dropdown>

      </ng-container>
    </div>
  </ng-container>
  <button pButton pRipple type="button" label="Book Flight" (click)="bookFlight()"></button>
</div>
