<div class="flex">
  <h5>First Name</h5>
  <input type="text" pInputText [(ngModel)]="bookingObj.firstName"/>
  <h5>Last Name</h5>
  <input type="text" pInputText [(ngModel)]="bookingObj.lastName"/>
  <h5>Email</h5>
  <input type="text" pInputText [(ngModel)]="bookingObj.email"/>
  <h5>Flight Class</h5>
  <p-dropdown [options]="chooseTicketClass" [(ngModel)]="selectedClass" placeholder="Select a Class"
              optionLabel="viewValue"
              [showClear]="true"></p-dropdown>
</div>
<div class="flex" *ngIf="ticketCount > 1">
  <h5>First Name</h5>
  <input type="text" pInputText [(ngModel)]="bookingObj.firstName"/>
  <h5>Last Name</h5>
  <input type="text" pInputText [(ngModel)]="bookingObj.lastName"/>
  <h5>Flight Class</h5>
  <p-dropdown [options]="chooseTicketClass" [(ngModel)]="selectedClass" placeholder="Select a Class"
              optionLabel="viewValue"
              [showClear]="true"></p-dropdown>
</div>
<button pButton pRipple type="button" label="Book Flight" (click)="bookFlight()"></button>
