.flex-col {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  align-items: flex-start;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
