.grid {
  display: grid;
  grid-template-areas:
   "firstHead lastHead flightClassHead"
    "first last flightClass";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.5rem;
  width: 50%;
  margin: 0 auto;

  .firstHead {
    grid-area: firstHead;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .lastHead {
    grid-area: lastHead;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .flightClassHead {
    grid-area: flightClassHead;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .first {
    grid-area: first;
    text-align: center;
    z-index: 1;
  }

  .last {
    grid-area: last;
    text-align: center;
    z-index: 1;
  }

  .flightClass {
    grid-area: flightClass;
    text-align: center;
    z-index: 1;
  }


  .flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .flex {
    display: flex;
    align-items: center;
  }

  .mat-stepper-horizontal {
    margin-top: 8px;
  }

  .mat-form-field {
    margin-top: 16px;
  }
}
