<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
              (click)="openNew()"></button>
      <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger"
              (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
    </ng-template>
  </p-toolbar>

  <p-table #dt [value]="flights" [rows]="10" [paginator]="true"
           [globalFilterFields]="['flightNumber','fromTo','dates','ticketId']"
           [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Manage Flights</h5>
        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')"
                           placeholder="Search..."/>
                </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="flightNumber">Flight number
          <p-sortIcon field="flightNumber"></p-sortIcon>
        </th>
        <th pSortableColumn="fromTo">From - To
          <p-sortIcon field="fromTo"></p-sortIcon>
        </th>
        <th pSortableColumn="dates">Flight date
          <p-sortIcon field="dates"></p-sortIcon>
        </th>
        <th pSortableColumn="ticketId">Price
          <p-sortIcon field="ticketId"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-flight>
      <tr>
        <td>
          <p-tableCheckbox [value]="flight"></p-tableCheckbox>
        </td>
        <td>{{flight.flightNumber}}</td>
        <td>{{flight.departureCity}} - {{flight.arrivalCity}}</td>
        <td>{{flight.departureTime | date : 'short'}} - {{flight.arrivalTime | date : 'short'}}</td>
        <td>{{flight.price | currency:'USD'}}</td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                  (click)="editProduct(flight)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                  (click)="deleteProduct(flight)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{flights ? flights.length : 0 }} flights.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true"
          styleClass="p-fluid" class="flex-dialog">
  <ng-template pTemplate="content">
    <span class="flex">
    <h5>Choose Airline</h5>
    <p-autoComplete [(ngModel)]="flight.airlineId" [suggestions]="flightObj.results"
                    (completeMethod)="chooseAirlines($event)"
                    [dropdown]="true">
    </p-autoComplete>
    </span>
    <span class="flex">
    <h5>Choose Plane</h5>
    <p-autoComplete [(ngModel)]="flight.planeId" [suggestions]="flightObj.results"
                    (completeMethod)="choosePlane($event)"
                    [dropdown]="true">
    </p-autoComplete>
    </span>
    <span class="flex">
    <h5>Departure City</h5>
    <p-autoComplete [(ngModel)]="flight.departureCity" [suggestions]="flightObj.results"
                    (completeMethod)="chooseDestinations($event)"
    >
    </p-autoComplete>
    </span>
    <span class="flex">
    <h5>Departure Airport</h5>
    <p-autoComplete [(ngModel)]="flight.departureAirport" [suggestions]="flightObj.results"
                    (completeMethod)="chooseAirport($event)"
    >
    </p-autoComplete>
    </span>
    <span class="flex">
    <h5>Arrival City</h5>
    <p-autoComplete [(ngModel)]="flight.arrivalCity" [suggestions]="flightObj.results"
                    (completeMethod)="chooseDestinations($event)"
    >
    </p-autoComplete>
    </span>
    <span class="flex">
    <h5>Arrival Airport</h5>
    <p-autoComplete [(ngModel)]="flight.arrivalAirport" [suggestions]="flightObj.results"
                    (completeMethod)="chooseAirport($event)"
    >
    </p-autoComplete>
    </span>
    <span class="flex">
    <h5>Departure Date</h5>
    <p-calendar [(ngModel)]="fromDate" [showTime]="true" selectionMode="multiple"
                inputId="time"></p-calendar>
    </span>
    <span class="flex">
    <h5>Arrival Date</h5>
    <p-calendar [(ngModel)]="toDate" [showTime]="true" selectionMode="multiple"
                inputId="time"></p-calendar>
    </span>


  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
