@use "../../shared/styles/palette" as var_1;

.advanced-search {
  height: 80vh;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;

  &__sort {
    padding-left: 20px;

    p {
      font-size: 1.1rem;
      font-weight: bold;
      line-height: 50px;
    }
  }

  &-flex {
    display: flex;
    gap: 20px
  }

  &__flight-type {
    padding: 30px 20px;
    width: 100%;

    .flight-type__list-header {
      font-size: 1.1rem;
      font-weight: bold;
      line-height: 50px;
    }

    &__list {
      list-style-type: none;
      margin-top: 4px;
    }

  }

  .price-range {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;

    mat-form-field {
      width: 50px;
    }

    mat-slider {
      width: 130%;

      mat-slider-thumb {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: var_1.$btn-menu;
        margin-top: -10px;
        margin-left: -10px;
      }
    }
  }
}
