<div class="advanced-search" *ngIf="currentRoute==='/flights'">
  <section class="advanced-search__sort">
    <p>Order by</p>
    <mat-form-field appearance="fill">
      <mat-label>Best Match</mat-label>
      <mat-select>
        <mat-option *ngFor="let by of orderBy" [value]="by.value">
          {{by.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </section>
  <section class="advanced-search__flight-type">
    <span class="flight-type__list-header">
     Flight Class
  </span>
    <span class="flight-type__list">
    <ul>
      <li *ngFor="let classItem of flightClass.classItem">
        <mat-checkbox [(ngModel)]="classItem.completed"
                      [color]="classItem.color"
                      (ngModelChange)="updateAllComplete()">
          {{classItem.type}}
        </mat-checkbox>
      </li>
    </ul>
  </span>
  </section>
  <section class="advanced-search__flight-type">
    <span class="flight-type__list-header">
     Airline
  </span>
    <span class="flight-type__list">
    <ul>
      <li *ngFor="let classItem of airline.classItem">
        <mat-checkbox [(ngModel)]="classItem.completed"
                      [color]="classItem.color"
                      (ngModelChange)="updateAllComplete()">
          {{classItem.type}}
        </mat-checkbox>
      </li>
    </ul>
  </span>
  </section>
  <section class="price-range">
    <div class="advanced-search-flex">
      <mat-form-field class="advanced-search__input">
        <input matInput placeholder="From">
      </mat-form-field>
      <mat-form-field class="advanced-search__input">
        <input matInput placeholder="To">
      </mat-form-field>
    </div>
    <mat-slider
      thumbLabel
      [displayWith]="formatLabel"
      tickInterval="1000"
      step="1000"
      min="0"
      max="100000"
      aria-label="units">
    </mat-slider>
  </section>
  <section>
    <mat-form-field appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date">
        <input matEndDate placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </section>
</div>

