<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>
      <fa-icon [icon]="faPlaneDeparture"></fa-icon>
      From?
    </mat-label>
    <input type="text"
           placeholder="From"
           aria-label="Anywhere"
           matInput
           [formControl]="fromCityControl"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let airport of airports$ | async" [value]="airport._id">
        {{airport.city + ', ' + airport.country}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>
      <fa-icon [icon]="faPlaneArrival"></fa-icon>
      To?
    </mat-label>
    <input type="text"
           placeholder="To"
           aria-label="Anywhere"
           matInput
           [formControl]="toCityControl"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let airport of airports$ | async" [value]="airport._id">
        {{airport.city + ', ' + airport.country}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date">
      <input matEndDate placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
</form>
