<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
              (click)="openNew()"></button>
      <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger"
              (click)="deleteSelectedUsers()" [disabled]="!selectedUsers || !selectedUsers.length"></button>
    </ng-template>
  </p-toolbar>

  <p-table #dt [value]="users" [rows]="10" [paginator]="true"
           [globalFilterFields]="['firstName','lastName','email','role']"
           [(selection)]="selectedUsers" [rowHover]="true" dataKey="id"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Manage Airlines</h5>
        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')"
                                   placeholder="Search..."/>
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="company">First Name
          <p-sortIcon field="company"></p-sortIcon>
        </th>
        <th pSortableColumn="airlineCode">Last Name
          <p-sortIcon field="airlineCode"></p-sortIcon>
        </th>
        <th pSortableColumn="email">Email
          <p-sortIcon field="email"></p-sortIcon>
        </th>
        <th pSortableColumn="role">Role
          <p-sortIcon field="role"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>
          <p-tableCheckbox [value]="user"></p-tableCheckbox>
        </td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                  (click)="editProduct(user)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                  (click)="deleteProduct(user)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{users ? users.length : 0 }} users.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true"
          styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="firstName">First Name</label>
      <input type="text" pInputText id="firstName" [(ngModel)]="user.firstName" required autofocus/>
      <small class="p-invalid" *ngIf="submitted && !user.firstName">First name is required.</small>
    </div>
    <div class="p-field">
      <label for="lastName">Last Name</label>
      <input type="text" pInputText id="lastName" [(ngModel)]="user.lastName" required autofocus/>
      <small class="p-invalid" *ngIf="submitted && !user.lastName">Last name is required.</small>
    </div>
    <div class="p-field">
      <label for="email">Email</label>
      <input type="text" pInputText id="email" [(ngModel)]="user.email" required autofocus/>
      <small class="p-invalid" *ngIf="submitted && !user.lastName">Email is required.</small>
    </div>
    <div>
      <span>Permission</span>
      <p-selectButton [options]="roles" [(ngModel)]="permission" optionLabel="permission"
                      optionValue="permission"></p-selectButton>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
