@use "../../shared/styles/palette" as var_1;

.travel-destination {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;

  .flight-card {
    width: 280px;
    border-radius: 15px;

    .flex {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    fa-icon {
      font-size: 1.5rem;
    }

    .travel-time {
      color: var_1.$desc-menu-light;
    }

    img {
      width: 270px;
      border-radius: 15px;
      margin: 0 auto;
    }

    button {
      width: 100%;
      padding: 10px 0;
      background: var_1.$btn-menu;
      color: white;
      border-radius: 0 0 15px 15px;
    }
  }
}
