<div class="travel-destination">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Germany</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/Germany.jpg" alt="Photo of a Germany">
    <mat-card-content>
      <p>
        Vaccinated travelers can visit
        Masks required
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>
        <fa-icon [icon]="faHeart"></fa-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>France</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/France.jpg" alt="Photo of a France">
    <mat-card-content>
      <p>
        Vaccinated travelers can visit
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>
        <fa-icon [icon]="faHeart"></fa-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
