<ng-container *ngIf="flights$ | async as flights">
  <p-dataView #dv [value]="flights" [paginator]="true" [rows]="9" filterBy="name"
              [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
    <ng-template pTemplate="header">
      <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
        <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price"
                    (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                  <i class="pi pi-search"></i>
                  <input type="search" pInputText placeholder="Search by anything">
              </span>
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </div>
    </ng-template>
    <ng-template let-flight pTemplate="listItem">
      <div class="p-col-12">
        <div class="product-list-item">
          <div class="product-list-detail">
            <div class="product-name">{{flight.departureCity}}</div>
            <div class="product-description">{{flight.description}}</div>
            <p-rating [ngModel]="flight.rating" [readonly]="true" [cancel]="false"></p-rating>
            <i class="pi pi-tag product-category-icon"></i><span
            class="product-category">{{flight.departureCity}}</span>
          </div>
          <div class="product-list-action">
            <span class="product-price">${{flight.price}}</span>
            <p-inputNumber [(ngModel)]="quantity" mode="decimal" [showButtons]="true" inputId="minmax-buttons"
                           [min]="0" [max]="100">
            </p-inputNumber>
            <p-button label="Add to Cart"
                      [disabled]="flight.inventoryStatus === 'OUTOFSTOCK'"></p-button>
            <span
              [class]="'product-badge status-' + flight.arrivalTime.toLowerCase()">{{flight.arrivalCity}}</span>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template let-flight pTemplate="gridItem">
      <div class="p-col-12 p-md-4">
        <div class="product-grid-item card">
          <div class="product-grid-item-top">
            <div>
              <i class="pi pi-tag product-category-icon"></i>
              <span class="product-category">{{flight.flightNumber}}</span>
            </div>
            <span
              [class]="'product-badge status-' + flight.departureCity.toLowerCase()">{{flight.departureCity}}</span>
          </div>
          <div class="product-grid-item-content">
            <div class="product-name">{{flight.flightNumber}}</div>
            <div class="product-description">{{flight.description}}</div>
            <p-rating [ngModel]="flight.arrivalTime" [readonly]="true" [cancel]="false"></p-rating>
          </div>
          <div class="product-grid-item-bottom">
            <span class="product-price">${{flight.planeId}}</span>
            <div class="field col-12 md:col-3">
              <p-inputNumber [(ngModel)]="quantity" mode="decimal" [showButtons]="true" inputId="minmax-buttons"
                             [min]="0" [max]="100">
              </p-inputNumber>
              <p-button icon="pi pi-shopping-cart" [disabled]="flight.airlineId === 'OUTOFSTOCK'"
                        (click)="getFlight(flight._id)" [routerLink]="'/book-flight'"></p-button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</ng-container>
