<div class="travel-destination">
  <ng-container *ngFor="let flight of flights$ | async">
    <mat-card class="flight-card">
      <img mat-card-image src="https://picsum.photos/200?random={{flight?._id}}" alt="Photo">
      <mat-card-content>
        <p class="flex">
         <span><fa-icon [icon]="faLocation"></fa-icon>
           {{flight.arrivalCity}}</span>
          <span class="travel-time">{{flight.departureTime | date}}</span>
          {{flight.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="'/book-flight'">
          Book Now
        </button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
