@use "../shared/styles/palette" as var_1;

.app-main {
  background: url("../../assets/bg.jpg") no-repeat center/cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;


  .app-signup {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 8px 32px 0 rgba(44, 38, 71, 0.85);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(205, 233, 244, 0.18);
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100vh;

    .app-signup-header {
      width: 50%;
      margin: 0 auto;

      .back {
        cursor: pointer;

        &:hover {
          opacity: 0.95;
          text-decoration: underline;
        }

      }

      h1 {
        text-align: center
      }

      p {
        text-align: center;
      }
    }

    &__form {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 20px;
      width: 40%;
      margin: 0 auto;

      &--name {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      &--birthday {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
      }
    }
  }
}

.app-main__footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.app-main__button-primary {
  width: 430px;
  height: 40px;
  background-color: rgba(67, 60, 95, 0.93);
  color: #FFF;

  &:hover {
    opacity: 0.95;
  }
}

::ng-deep {
  .mat-form-field-type-mat-select {
    width: 30%;
  }
}
